ul {
    margin-left: -30px;
}
.navleft {
    float: left;
    display: inline;
    position: relative;
    margin: 0px;
}
.navright {
    float: right;
    display: inline;
}
li a:hover {
    text-decoration: underline;
}
.icons {
    display: inline-block;
    opacity: 60%;
}
.icons:hover {
    padding: 2px;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    background-color: lightgrey;
}
a {
    color: black;
    padding: 9px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.rightlink {
    font-size: 13px;
}
.logo {
    position: absolute;
    top: 23.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 40%;
    height: 45px;
    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: box-shadow .2s;
    border-radius: 30px;
}
.search:hover {
    box-shadow: 0 0 10px rgba(33,33,33,.2);
}
div.search input[type=text] {
    position: relative;
    padding: 12px;
    font-size: 15px;
    border: 0.2px solid rgb(218, 218, 218);
    border-radius: 30px;
    outline: 0;
    padding: 0px 45px 0px 45px;
    height: 45px;
    width: 100%;
    background: white;
}
.search-icon {
    position: absolute;
    top: 19%;
    left: 1%;
    background: none;
    border: none;
    opacity: 20%;
}
.voice-icon {
    align-self: flex-end;
    position: absolute;
    top: 19%;
    right: 1%;
    background: none;
    border: none;
    opacity: 20%;
}
footer {
    background-color: rgb(236, 236, 236);
    border-top-style: solid;
    border-width: thin 0 0 0;
    border-color: lightgrey;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.navbottom {
    display: inline;
    opacity: 50%;
    text-decoration: none;
    margin-left: 0;
    padding-inline-start: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navbottomright {
    float: right;
    display: inline;
    opacity: 50%;
    text-decoration: none;
    padding-inline-end: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.buttons {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    background-color: #f3f3f3;
    padding: 11px 20px;
    opacity: 80%;
    border-radius: 1px;
}
.button:hover {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: lightgrey;
}
.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}